# Ficheiros de configuração e segredos
# A linha mais importante! Impede que o seu ficheiro .env com as chaves do Firebase
# seja enviado para o GitHub.
.env
.env.local
.env.*.local

# Ficheiro de configuração local que você mencionou
config.js

# Logs de erros e depuração
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências do Node.js
# Pasta que contém todas as bibliotecas e pacotes. É muito pesada e
# deve ser reinstalada em cada ambiente (local e na Vercel) com 'npm install'.
node_modules

# Pasta de build de produção
# O Vite cria esta pasta com os ficheiros otimizados para a Vercel.
# Não precisa de ser guardada no GitHub.
dist
dist-ssr

# Ficheiros temporários e de configuração do sistema operativo e editores
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?